<div class="section">
  <h2 class="section-title">{{ section.title }}</h2>
  {% for item in section.items %}
  {% if item.type == "table" %}
  {% include '_table.html.j2' %}
  {% elif item.type == "code" %}
  {% include '_code.html.j2' %}
  {% else %}
    {% if item.type == "bullet" %}
    <p class="bullet-item">{{ t(item.content) | linkify | replace_metrics | safe }}</p>
    {% else %}
    <p>{{ t(item.content) | linkify | replace_metrics | safe }}</p>
    {% endif %}
  {% endif %}
  {% endfor %}
</div>
